{% load i18n %}
{% load static %}

<button id="start-button" onclick="showPong()">start game</button>
<div id="pong-wrapper" class="editProfileForm">
	<p id="pong-score" style="font-size: 20px; font-weight: bold;">Score: 0 - 0</p>

	<div id="pong-container"></div>
	<button class="PongButton" id="twoPlayerButton" onclick="toggleTwoPlayers()" style="display: none;">
		{% trans "Two Players" %}
	</button>
	<button class="PongButton" id="stopGameButton" onclick="stopGame()">{% trans "Stop Game" %}</button>
	<button class="PongButton" id="pong-settings-badge" onclick="togglePongSettings()">{% trans "Settings" %}</button>
	<div id="pong-settings-popup" class="hidden">
		<h3>{% trans "Settings" %}</h3>
		<label for="paddleColor">{% trans "Paddle Color:" %}</label>
		<input type="color" id="paddleColor" value="#8b8989" onchange="updatePaddleColor(this.value)">

		<label for="ballColor">{% trans "Ball Color:" %}</label>
		<input type="color" id="ballColor" value="#3498db" onchange="updateBallColor(this.value)">

		<label for="ballSpeed">{% trans "Ball Speed:" %}</label>
		<input type="range" id="ballSpeed" min="1" max="8" value="5" onchange="updateBallSpeed(this.value)">

		<button onclick="togglePongSettings()">{% trans "Close" %}</button>
	</div>
</div>  
<script src="{% static 'pong.js' %}"></script>
