<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <section id="login" class="pages">
            <header>
                <h1>Login</h1>
            </header>
            <form method="post" action="?page=login">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <button type="submit">Log In</button>
            </form>
            
            <p>Or</p>
            <a href="{% url 'social:begin' '42' %}" class="oauth-btn">
                <img src="{% static 'images/42.png' %}" alt="42 Logo">
                Log In with 42
            </a>
            
            <p><a href="{% url 'register' %}" class="register">Sign Up</a></p>
        </section>
        <section id="home" class="pages hidden">
        {% if user.is_authenticated %}
            <header>
                <img src="{% static 'images/dragon.png' %}" alt="Logo" class="header-logo">
                <h1>__attribute__</h1>
            </header>
        
            <nav class="poulet">
                <a href="javascript:void(0)" class="menu" onclick="showTicTacToe()">Tic Tac Toe</a>            
                <button class="login-button menu" id="logout">Logout</button>
                <!-- <form method="post" action="?page=logout">
                    {% csrf_token %}
                    <button type="submit" class="login-button menu">Logout</button>
                </form> -->
            </nav>
            <nav class="burger hidden">
                <select name="games" id="games" class="menu">
                    <option value="games" selected disabled>Games</option>
                    <option value="Tic Tac Toe">Tic Tac Toe</option>
                </select>
            </nav>
            <section id="section1">
                <h2>Section 1 : Titres et Paragraphes</h2>
                <p>Bienvenue dans la section 1.</p>
            </section>
            <section id="section2">
                <h2>Section 2 : Scoreboard</h2>
                <p>Bienvenue dans la section 2.</p>
            </section>
            <footer>
                <p>&copy; 2024 Page de cramptes. Tous droits non-réservés.</p>
            </footer>
            <div id="overlay" onclick="hideTicTacToe()"></div>
            <div id="tic-tac-toe-modal">
                <h1>Tic-Tac-Toe</h1>
                <div class="board" id="board"></div>
                <div class="winner" id="winner"></div>
                <button id="close-btn" onclick="hideTicTacToe()">Fermer</button>
                <button id="replay-btn" onclick="replayGame()">Rejouer</button>
            </div>
        {% else %}
        <p>Vous devez être connecté pour accéder à cette page.</p>
        <a href="?page=login">Se connecter</a>
    {% endif %}
        </section>
        <script src="{% static 'script.js' %}"></script>
        <script src="{% static 'redirect.js' %}"></script>
        <script>
            const csrf = "{{ csrf_token }}";
            const staticurl = "{% static '' %}";
            const staticUrls = {
                x: staticurl + "images/llvm.png",  
                o: staticurl + "images/gnu.png"  
            };
        
            function showTicTacToe() {
                const overlay = document.getElementById('overlay');
                const modal = document.getElementById('tic-tac-toe-modal');
                console.log("Overlay:", overlay, "Modal:", modal); // Vérifiez si les éléments sont détectés

                if (overlay && modal) {
                    overlay.classList.add('active'); 
                    modal.classList.add('active'); 
                }

                createBoard(staticUrls); 
            }

            function hideTicTacToe() {
                const overlay = document.getElementById('overlay');
                const modal = document.getElementById('tic-tac-toe-modal');

                if (overlay && modal) {
                    overlay.classList.remove('active');
                    modal.classList.remove('active'); 
                }
            }

        </script>
    </body>
</html>
