<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <section id="login" class="pages">
            <header>
                <h1>Login</h1>
            </header>
            <form method="post" action="?page=login">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <button type="submit">Log In</button>
            </form>
            
            <p>Or</p>
            <a href="{% url 'social:begin' '42' %}" class="oauth-btn">
                <img src="{% static 'images/42.png' %}" alt="42 Logo">
                Log In with 42
            </a>
            
            <p><a href="{% url 'register' %}" class="register">Sign Up</a></p>
        </section>
        <section id="home" class="pages hidden">
        {% if user.is_authenticated %}
            <header>
                <img src="{% static 'images/dragon.png' %}" alt="Logo" class="header-logo">
                <h1>__attribute__</h1>
            </header>
        
            <nav class="poulet">
                <a href="javascript:void(0)" class="menu" onclick="showProfile()">Profile</a>
                <a href="javascript:void(0)" class="menu" onclick="showTicTacToe()">Tic Tac Toe</a>            
                <a href="javascript:void(0)" class="menu" onclick="showPong()">Pong</a>
                <button class="login-button menu" id="logout">Logout</button>
            </nav>
            <nav class="burger hidden">
                <select name="games" id="games" class="menu">
                    <option value="games" selected disabled>Games</option>
                    <option value="Tic Tac Toe">Tic Tac Toe</option>
                </select>
            </nav>

            <div id="profile-container" class="hidden">
                <h2>Profile</h2>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Name: {{ user.last_name }}</p>

                <button id="editProfileButton" onclick="editProfile()">Edit Profile</button>
            </div>

            <div id="profile-edit-form" class="hidden">
                <h2>Edit Profile</h2>
                <form id="editProfileForm">
                    <label for="edit-email">Email:</label>
                    <input type="email" id="edit-email" name="email" value="{{ user.email }}" required><br><br>
            
                    <label for="edit-first-name">First Name:</label>
                    <input type="text" id="edit-first-name" name="first_name" value="{{ user.first_name }}" required><br><br>
            
                    <label for="edit-last-name">Last Name:</label>
                    <input type="text" id="edit-last-name" name="last_name" value="{{ user.last_name }}" required><br><br>

                    <label for="edit-password">Password:</label>
                    <input type="password" id="edit-password" name="password" required><br><br>

                    <label for="edit-confirm-password">Confirm Password:</label>
                    <input type="password" id="edit-confirm-password" name="confirm_password" required><br><br>

                    <button type="button" id="saveProfileButton">Save Changes</button>
                    <button type="button" id="cancelEditButton">Cancel</button>
                </form>
            </div>
            
            <div id="pong-wrapper">
                <div id="pong-container"></div>
                <p id="pong-score" style="display: none; font-size: 20px; font-weight: bold;">Score: 0 - 0</p>
                <button id="twoPlayerButton" onclick="toggleTwoPlayers()" style="display: none; align-self: center;">
                    Activer/Désactiver 2 joueurs
                </button>
                <button id="stopGameButton" onclick="stopGame()" style="display: none;">Stop Game</button>

            </div>

            <footer>
                <p>&copy; 2024 Page de cramptes. Tous droits non-réservés.</p>
            </footer>
            <div id="overlay" onclick="hideTicTacToe()"></div>
            <div id="tic-tac-toe-modal">
                <h1>Tic-Tac-Toe</h1>
                <div class="board" id="board"></div>
                <div class="winner" id="winner"></div>
                <button id="close-btn" onclick="hideTicTacToe()">Fermer</button>
                <button id="replay-btn" onclick="replayGame()">Rejouer</button>
            </div>


        {% else %}
            <p>Vous devez être connecté pour accéder à cette page.</p>
            <a href="?page=login">Se connecter</a>
        {% endif %}
        </section>
        <script src="{% static 'script.js' %}"></script>
        <script src="{% static 'redirect.js' %}"></script>
        <script src="{% static 'profile.js' %}"></script>
        <canvas id="pongCanvas" width="800" height="400"></canvas>
        <script src="{% static 'pong.js' %}"></script>
        <script>
            const csrf = "{{ csrf_token }}";
            const staticurl = "{% static '' %}";
            const staticUrls = {
                x: staticurl + "images/llvm.png",  
                o: staticurl + "images/gnu.png"  
            };
        </script>
    </body>
</html>