<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ CDN_URL }}/images/favicon.ico">
    <title>__attribute__</title>
    <link rel="stylesheet" href="{{ CDN_URL }}/css/index.css">
</head>
    <body>
    {% csrf_token %}
    <header class="HeadLog">
        <h1 class="title">Login</h1>
    </header>
    <form method="POST" class="jesaispas" action="/?page=login">
        {% csrf_token %}
        <div class="menu-form">
            <label for="username" class="label">Username</label>
            <input type="text" id="username" class="input" name="username" 
                    placeholder="Username" autocomplete="off" autofill="off" 
                    aria-autocomplete="none" required maxlength="30"><br><br>
        </div>
        <div class="menu-form">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" class="input" name="password"
                     placeholder="Password" autocomplete="new-password" autofill="off"
                     aria-autocomplete="none" required maxlength="30"><br><br>
        </div>
        <div class="login-buttons">
            <style>
                .login-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                }
                </style>
            <button type="submit" class="login">Log In</button>
            or
            <a class="login" href="{% url 'register' %}">Sign Up</a>
        </div>
        <a href="{% url 'social:begin' '42' %}" class="oauth-btn">
            <img src="{{ CDN_URL }}/images/42.png" alt="42 Logo">
            Log In with     
        </a>
        
        <div class="bootstrap-iso">
            <footer class="bg-dark text-center text-white p-3 fixed-bottom">
                &copy; {% trans "2024 Page de cramptes. Tous droits non-réservés." %}
            </footer>
          </div>
          
    </form>
    
    <script src="{{ CDN_URL }}/login.js"></script>
</body>
</html>
